
<div class = "container">
    <h1>TO DO</h1>

    <form (ngSubmit)="load(taskform)" #taskform = "ngForm">
        <div class="form-group">
            <input type="text" placeholder="what's on your mind??" class="form-control" id="todoinput" ngModel name="task" required>
            <div *ngIf="taskform.dirty && taskform.invalid" id="warning" class="form-text text-danger">Required Field</div>
        </div>
        
        
        <button [disabled]="taskform.invalid" id="submitbutton" type="submit" class="btn btn-primary">+</button>
    </form>
    

    <table class="table">
        <!-- <thead>
          <tr>
            <th scope="col">task</th>
            <th scope="col">completed</th>
            
          </tr>
        </thead> -->
        <tbody>
          <tr *ngFor = "let i of taskarray, index as ind">

            <td [hidden]="i.iscomplete">{{i.taskname}}</td>
            <td id="crossed" [hidden]="!i.iscomplete">{{i.taskname}} </td>
            <td>
                <input class="form-check-input" (change)="oncheck(ind)" type="checkbox" value="" id="flexCheckDefault">
            </td>
            
            <td>
                <button class="btn btn-sm btn-danger" (click)="delete(ind)" id ="albutton">delete</button>
            </td>

            
            
          </tr>
          
        </tbody>
      </table>
</div>