#todoinput{
    margin-top: 20px;
}
h1{
    text-align: center;
}
table {
    
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto;
  }


.container form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
#submitbutton{
    box-sizing: content-box;
    margin-top: 20px;
    margin-left: 5px;
    height: 24px;
    text-align: justify;
}
#crossed{
    text-decoration: line-through;
}